*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    font-family: "Helvetica";
}

nav {
    background-color: black;
}

a:link{
    text-decoration: none;
}

.logo img{
    width: 150px;
}

.principal{
    background: url(../img/Home_3.jpg) no-repeat;
    width: 100%;
    background-size: cover;
}

.titulo h1{
	margin-top: 150px;
    font-size: 55px;
    font-weight: bold;
    background-color: rgba(255, 251, 255, 0.5);
}
.titulo h2{
    background-color: rgba(255, 251, 255, 0.5);
    font-size: 30px;
}

.titulo h3{
    background-color: rgba(255, 251, 255, 0.5);
    font-size: 30px;
}

.patrocinadores{
    background-color: black;
    color: white;
}

.patrocinadores .max{
    width: 300px;	
}

.patrocionios img{
    width: 200px;
}


.sobre{
    background-color: #303030;
    color: white;
    padding-bottom: 60px;
}

.speakers {
	background-color: #f2f0f2;
}
.speaker img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 20px;
}

.speaker h5{
	color: #00f0ff;
}

.botao,
.botao2{
    background-color: #00ff37;
    color: black;
    font-weight: bold;
    font-size: 30px;
    border-color: black;
}

.local{
    background-color: #00F07B;
    width: 100%;
}

.local h3{
    font-size: 50px;
}

.local h5{
    font-size: 26px;
}

.local p{
    font-size: 20px;
}

.hashtag{
    background-color: black;
    color: white;
}

.hashtag hr {
	background-color: white;
}

footer{
    background-color: black;
}

.botao:hover {
	background-color: black;
    color: #00ff37;
    border-color: #00ff37;
}
.botao2:hover {
	background-color: white;
    color:#00ff37;
    border-color: #00ff37;
}